@font-face {
    font-family: "Gotham";
    src: url("/public/fonts/GothamRoundedMedium.otf");
}

/* Reset
-------------------------------------------------------------- */
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: inherit;
    /* font-size: 100%; */
    /* font-weight: inherit; */
    font-style: inherit;
    /* vertical-align: baseline; */
    margin: 0;
    padding: 0;
    /* border: 0; */
    outline: 0;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

figure {
    margin: 0;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

legend {
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
}

input,
textarea {
    background-image: -webkit-linear-gradient(
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0)
    ); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 14px/26px "Lato", sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #6e6e6e;
}

a {
    color: #333333;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #f63440;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul,
ol {
    padding: 0;
}

/* img {
    max-width: 100%;
    height: auto;
} */

b,
strong {
    font-weight: 900;
}

button {
    border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-weight: 700;
    color: #ffffff;
    line-height: 30px;
    text-transform: uppercase;
    padding: 7px 26px;
    background-color: #f63440;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: #ffffff;
    /* height: 50px; */
    width: 100%;
    padding-left: 17px;
    line-height: 30px;
    letter-spacing: 0.6px;
    font-weight: 400;
    outline: none;
    border: 1px solid #ebebeb;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border: 1px solid #f63440;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
}

input[type="checkbox"] {
    display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
    color: #b3b7c8;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #b3b7c8;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #b3b7c8;
    opacity: 1;
}

label {
    font-size: 16px;
    line-height: 30px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 9px;
}

input[type="checkbox"] {
    display: none;
}

button {
    z-index: 1;
    position: relative;
}

button:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #333333;
    z-index: -1;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button:hover:before {
    width: 100%;
}

/* bootstrap resetting elements */
.btn {
    background-image: none;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    /* color: #c5c5c5; */
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: #333333;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}
h2 {
    font-size: 24px;
    line-height: 30px;
    color: #252525;
}
h3 {
    font-size: 22px;
    line-height: 30px;
}
h5 {
    font-size: 18px;
    line-height: 30px;
}
h6 {
    font-size: 14px;
    line-height: 48px;
    font-weight: 400;
}

/* RESET STYLES END 
-------------------------------------------------------------- */

body {
    font-family: Lato;
}

.nav-link {
    color: #2e32cd;
}

.bg-3 {
    background-image: url("/public/images/auth/SAMJ_LoginBG3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-4 {
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* padding: 30px; */
    /* margin: 0; */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
}

.bg-white {
    background-image: url("/public/images/auth/SAMJ_BG_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-dashboard {
    background-color: white;
    border-radius: 1rem;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin: 25px;
    min-height: 500px;
}

.bg-team {
    background-image: url("/public/images/bg/plain-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-aboutus {
    background-image: url("/public/images/bg/white-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------
/* Account - Side Menu 
-----------------------*/

.account-side-menu a {
    font-weight: 400;
}
.account-side-menu a i {
    margin-right: 0.65em;
}

.account-side-menu a,
.account-side-menu a i {
    font-size: 0.95rem;
    color: #2e32cd;
}

.account-side-menu a:hover {
    color: #2d3292;
}

.account-side-menu a:visited,
.account-side-menu a:visited,
.account-side-menu a::after,
.account-side-menu a:active {
    color: #2d3292;
}

.account-side-menu .list-group-item {
    padding: 0.75rem 1rem;
}

/*---------------------
  My Orders
-----------------------*/

.filters .nice-select {
    display: inline;
    float: none;
    padding: 10px 20px 10px 15px;
    margin-left: 1rem;
}

/* 
.order-history span {
    font-weight: normal;
    padding: 0.25em 0.625em;
    border-radius: 0.175rem;
} */

.order-history table tbody tr:last-child > * {
    border-bottom-color: inherit;
    padding-bottom: 0px;
}
.order-history table tbody tr:first-child > * {
    padding-top: 0px;
}
.order-history .page-link.active,
.active > .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2e32cd;
    border-color: #2e32cd;
}
.page-link {
    font-size: 0.9rem;
}

/*---------------------
  profile
-----------------------*/

.profile-content {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
.profile-content .h5-heading {
    margin: 0;
}
.profile-content .hr-line hr {
    margin-top: 5px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #dee2e6;
}
.profile-content .hr-line hr:before {
    height: 1px;
    background-color: #000;
    content: "";
    position: absolute;
    width: 85px;
    margin-top: -1px;
}
.profile-content form {
    float: left;
    width: 100%;
    background-color: white;
    padding: 30px;
}
.profile-content form .select-control::before {
    right: 30px;
}

.profile-content form .input-group.date .input-group-prepend {
    margin-right: 0;
}

.profile-content form .input-group.date .input-group-prepend .input-group-text {
    border-left-width: 0;
}

.profile-content form .btn {
    float: right;
    padding: 13px 35px 11px;
}

.profile-content form input {
    width: 100%;
    font-size: 16px;
    color: #636363;
    /* height: 50px; */
    /* border: 1px solid #ebebeb; */
    /* padding-left: 20px; */
    /* margin-bottom: 15px; */
}

.profile-content form label {
    /* margin-bottom: 10px; */
}

.profile-content .form-group {
    margin-bottom: 10px;
}
/*---------------------
  customer dashboard
-----------------------*/

.heading h2 {
    font-weight: 700;
    font-family: Lato;
    text-transform: uppercase;
}

.profile-content .dashboard {
    float: left;
    width: 100%;
    background-color: white;
    padding: 30px;
}

.profile-content .dashboard .box {
    border: 1px solid #ebebeb;
    padding: 20px;
    line-height: 24px;
    border-radius: 0.375rem;
    width: 100%;
}

.profile-content .dashboard a {
    color: #2e32cd;
}

.profile-content .dashboard a:hover {
    color: #cc2e3a;
}

/* top nav */

.nav-account {
    color: #cacac8;
}

.top-nav-items .nav-account i {
    font-size: 1rem;
    color: #cacac8;
}
.top-nav-items a span {
    background-color: #181816;
    color: #fff;
    border-radius: 0;
    font-size: 0.6rem;
    margin-left: -1rem;
}

.top-nav .cart-end .cart-title {
    font-weight: 500;
}

.top-nav .cart-end .cart-item {
    margin-top: -0.5rem;
}

.top-nav-social-links a,
.top-nav-items a {
    color: #ededed;
    padding-right: 0.6rem;
    font-size: 0.85rem;
}

.top-nav-social-links a:hover,
.top-nav-items a:hover {
    color: #cd2e3a;
}

.auth-links {
    font-family: "Sora", sans-serif;
    font-size: 0.9rem;
    color: #ededed !important;
}

.auth-links:hover {
    color: #cd2e3a !important;
}

/* end of top nav */

/* second nav */
.navbar-custom {
    background-color: #fff;
}

.navbar-nav-custom li {
    padding: 0 0.5rem;
}

.navbar-nav-custom li a {
    color: #555555 !important;
    text-transform: uppercase;
    /* font-weight: 600; */
    font-family: "Gotham";
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 17px;
    transition: none;
}

.navbar-nav-custom li a:hover,
.navbar-nav-custom li a.active {
    color: #cd2e3a !important;
}

.nav-shadow {
    box-shadow: 0px 5px 14.25px 0.75px rgba(36, 11, 12, 0.05);
    border: 1px solid #ededed;
}

.navbar-brand {
    padding: 0;
}
/* end of second nav */

/* FOOTER */

.footer-14398 {
    padding-top: 4.5rem;
    background: #fff;
    color: #555555;
    border: 1px solid #ededed;
}

.footer-14398 .footer-site-logo {
    color: #000;
    font-size: 26px;
    font-weight: bold;
    /* margin-bottom: 30px; */
    display: block;
    margin-left: -1rem;
}

.footer-14398 h3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-14398 .links li {
    margin-bottom: 10px;
}

.footer-14398 .links li a {
    color: #999;
    font-weight: 400;
}

.footer-14398 .links li a:hover {
    color: #cd2e3a;
}

.footer-14398 .link-menu li {
    display: inline-block;
}

.footer-14398 .link-menu li a {
    color: #000;
    display: inline-block;
    padding: 10px;
}

.footer-14398 .link-menu.nav-left li:first-child a {
    padding-left: 0;
}

.footer-14398 .link-menu.nav-right li:last-child a {
    padding-left: 0;
}

.footer-14398 .social li {
    display: inline-block;
}

.footer-14398 .social li a {
    display: inline-block;
    padding: 10px;
    color: #777;
}

.footer-14398 .social li:last-child a {
    padding-right: 0;
}

.footer-14398 .line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Button */

.site-btn {
    color: #ffffff;
    background: #2d32cd;
    border: 1px solid #1d229b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 45px 11px;
    cursor: pointer;
}

.site-btn:hover {
    background: #191ea1;
    color: #ffffff;
}
.red-btn {
    color: #ffffff;
    background: #cd2e3a;
    /* border: 1px solid #8f3035; */
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 45px 11px;
    cursor: pointer;
}

.black-btn {
    color: #ffffff;
    background: #252525;
    border: 1px solid #252525;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 45px 11px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    margin: 0 0.5rem;
    width: 15rem;
}

.black-btn:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #333333;
    z-index: -1;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.black-btn:hover:before {
    width: 100%;
}

.view-btn {
    color: #ffffff;
    background: #2d32cd;
    border-radius: 0.25rem;
    font-family: "Gotham";
    font-size: 12px;
    /* font-size: 14px; */
    /* font-weight: 700; */
    text-transform: uppercase;
    padding: 8px 25px 8px;
    cursor: pointer;
}
.black-btn:focus,
.black-btn:hover,
.view-btn:focus,
.view-btn:hover {
    color: white;
}

.dl-btn-grad {
    background-image: linear-gradient(
        to right,
        #2e32cd 0%,
        #3a6fe4 51%,
        #2e32cd 100%
    );
    /* margin: 10px; */
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    font-weight: 700 !important;
    font-size: clamp(0.5rem, 0.85vw, 0.85rem);
    max-height: 50px;
}

.dl-btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .dl-btn-grad {
        font-size: 0.85rem;
        width: 50%;
    }
}

/* divider */

.divider-sec {
    height: 90px;
    background-color: #ededed;
    background-image: url("/public/images/bg/plain-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Title section
---------------------------------------------------------------*/
.title-section {
    position: relative;
    text-align: center;
    margin-bottom: 48px;
}

.title-section.margin_bottom_17 {
    margin-bottom: 17px;
}

.title-section .title {
    font-size: 32px;
    line-height: 66px;
    font-weight: 500;
    color: #333333;
    position: relative;
}

.title-section .title:before {
    content: "";
    width: 60px;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f63440;
    margin: 0 auto;
}

.title-section.width-before-17 .title:before {
    width: 17%;
}

.title-section.bg-before-white .title:before {
    background-color: rgba(0, 0, 0, 0.1);
}

.title-section .sup-title {
    font-size: 24px;
    line-height: 26px;
    color: #333;
    font-weight: 200;
}

.title-section .sub-title {
    font-size: 18px;
    line-height: 56px;
    color: #6e6e6e;
    font-weight: 300;
}

/* Page title
---------------------------------------------------------------*/
.page-title {
    position: relative;
    padding: 76px 0px 77px 0px;
    text-align: center;
}

.page-title .page-title-heading .title {
    margin-bottom: 23px;
}

/* Breadcrumbs
---------------------------------------------------------------*/
.breadcrumbs ul li {
    display: inline-block;
    position: relative;
    margin: 0px 9px 0px 7px;
}

.breadcrumbs ul li:before {
    content: ">";
    position: absolute;
    top: 0;
    right: -12px;
}

.breadcrumbs ul li:last-child:before {
    content: "";
    background-color: transparent;
}

.breadcrumbs ul li a {
    color: #6e6e6e;
    font-weight: 400;
}

.breadcrumbs ul li a:hover {
    color: #f63440;
}

/* Parallax
---------------------------------------------------------------*/
.parallax {
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 0;
}

.parallax .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.parallax1 {
    /* background-image: url("../images/parallax/bg-parallax1.jpg"); */
    background-image: url("/public/images/bg/plain-blue.png");
}

/* Flat map
---------------------------------------------------------------*/
.flat-map {
    height: 383px;
    position: relative;
    overflow: hidden;
}

.infobox {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    padding: 15px 30px;
    width: 230px;
}

.infobox p {
    color: #333333;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

/*---------------------
  Shopping Cart Page
-----------------------*/
.product.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s ease-in-out;
}

.product .card-title {
    font-family: "Gotham";
    margin-bottom: 0;
    color: #181616;
}

.product .card-text {
    font-family: "Gotham";
    font-weight: 600;
    font-size: 1.05rem;
    color: #cd2e3a;
    margin-bottom: 5px;
}

/*---------------------
  Shopping Cart Page
-----------------------*/

.shopping-cart {
    padding-top: 80px;
    padding-bottom: 60px;
}

.cart-table {
    margin-bottom: 40px;
}

.cart-table table {
    width: 100%;
    min-width: 480px;
    border: 1px solid #ebebeb;
}

.cart-table table tr th {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    padding: 18px 0 19px;
    text-transform: uppercase;
}

.cart-table table tr th.p-name {
    text-align: left;
}

.cart-table table tr td {
    text-align: center;
    padding-bottom: 34px;
}

.cart-table table tr td.first-row {
    padding-top: 30px;
}

.cart-table table tr td.cart-pic {
    width: 21%;
    /* overflow: hidden; */
}

.cart-table table tr td.cart-title {
    text-align: left;
}

.cart-table table tr td.cart-title h5 {
    color: #252525;
}

.cart-table table tr td ul.product-options {
    margin: 4px 0 1px;
}

.cart-table table tr td .product-options li:last-child {
    margin-right: 0;
}

.cart-table table tr td .product-options li {
    font-size: 14px;
    margin-right: 5px;
    color: #a6a6a6;
}

.cart-table table tr td .product-options label {
    margin-bottom: 0;
    color: #6e6e6e;
}

.cart-table table tr td.p-price {
    width: 16%;
}

.cart-table table tr td.p-price,
.cart-table table tr td.total-price {
    color: #2d3292;
    font-size: 16px;
    font-weight: 700;
}

.cart-table table tr td.qua-col {
    width: 16%;
}

.cart-table table tr td.qua-col .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cart-table table tr td.qua-col .pro-qty {
    width: 123px;
    height: 46px;
    border: 2px solid #ebebeb;
    padding: 0 15px;
    float: left;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn {
    font-size: 24px;
    color: #b2b2b2;
    float: left;
    line-height: 38px;
    cursor: pointer;
    width: 18px;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
    font-size: 30px;
}

.cart-table table tr td.qua-col .pro-qty input {
    text-align: center;
    width: 52px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #4c4c4c;
    line-height: 40px;
    float: left;
    padding: 0;
}

.cart-table table tr td.total-price {
    width: 12%;
}

.cart-table table tr td.close-td {
    font-size: 16px;
    color: #252525;
    width: 8%;
}

.cart-table table tr td.close-td i {
    cursor: pointer;
}

.cart-buttons {
    margin-bottom: 34px;
}

.cart-buttons .continue-shop {
    color: #b2b2b2;
    border: 2px solid #ebebeb;
    background: #ffffff;
    margin-right: 8px;
    padding: 12px 20px 12px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 30px;
}

.cart-buttons .up-cart {
    color: #252525;
    background: #f3f3f3;
    border: 2px solid #ebebeb;
    padding: 12px 20px 12px 20px;
}

.proceed-checkout ul {
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 20px;
}

.proceed-checkout ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    text-transform: uppercase;
    overflow: hidden;
}

.proceed-checkout ul li.subtotal {
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 14px;
}

.proceed-checkout ul li.subtotal span {
    font-weight: 700;
}

.proceed-checkout ul li.cart-total {
    padding-top: 10px;
}

.proceed-checkout ul li.cart-total span {
    color: #2d3292;
}

.proceed-checkout ul li span {
    float: right;
}

.proceed-checkout .proceed-btn {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background: #252525;
    text-transform: uppercase;
    padding: 15px 25px 14px 25px;
    display: block;
    text-align: center;
}

.proceed-checkout .proceed-btn:disabled {
    border: 2px solid #ebebeb;
}

/* Order Success Section */

.order-success h5.success-title {
    color: #181616;
    font-weight: 600;
    padding-bottom: 0.35em;
    /* font-family: "Lexend Mega", sans-serif; */
    line-height: 24px;
    font-size: 22px;
}

.order-success .primary-btn {
    min-width: 200px;
    background-color: #181616;
    margin: 0 1em;
}

/*---------------------
  Check Out
-----------------------*/

.checkout-section {
    padding-top: 50px;
    padding-bottom: 80px;
}

.checkout-content {
    margin-bottom: 50px;
}

.checkout-content .content-btn,
.checkout-content input {
    color: #252525;
    font-size: 16px;
    border: 2px solid #ebebeb;
    padding: 14px 20px;
    background: #f3f3f3;
    text-align: center;
    display: block;
}

.checkout-content input {
    height: 56px !important;
}

.checkout-form h4 {
    color: #252525;
    font-weight: 800;
    margin-bottom: 25px;
}

.checkout-form label {
    color: #252525;
    font-size: 16px;
    margin-bottom: 5px;
}

.checkout-form label span {
    color: #d85d5c;
}

/* .checkout-form input {
	width: 100%;
	height: 46px;
	border: 2px solid #ebebeb;
	margin-bottom: 25px;
	padding-left: 15px;
} */

.checkout-form input.street-first {
    margin-bottom: 20px;
}

.checkout-form .create-item {
    padding-top: 15px;
}

.checkout-form .create-item label {
    position: relative;
    cursor: pointer;
    padding-left: 32px;
    margin-bottom: 0;
    font-size: 14px;
    color: #252525;
}

.checkout-form .create-item label input {
    position: absolute;
    visibility: hidden;
}

.checkout-form .create-item label input:checked ~ span {
    background: #e7ab3c;
    border-color: #e7ab3c;
}

.checkout-form .create-item label .checkmark {
    position: absolute;
    left: 0;
    top: 3px;
    height: 13px;
    width: 13px;
    border: 2px solid #b2b2b2;
    border-radius: 2px;
}

.checkout-form .create-item label .checkmark:after {
    left: 0;
    top: 0;
    width: 9px;
    height: 6px;
    border: solid #ffffff;
    border-width: 2px 2px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
}

.checkout-form .place-order .order-total {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: #fff;
    border-radius: 1rem;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: 0px 10px 20px rgba(200, 208, 216, 0.3);
}

.checkout-form .place-order .order-total .order-table {
    /* margin-bottom: 64px; */
    margin-bottom: 35px;
}

.checkout-form .place-order .order-total .order-table li {
    list-style: none;
    color: #252525;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    padding-top: 30px;
}

.checkout-form .place-order .order-total .order-table li:first-child {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    padding-top: 0;
}

.checkout-form .place-order .order-total .order-table li.fw-normal {
    font-weight: 400;
    text-transform: capitalize;
}

.checkout-form .place-order .order-total .order-table li.fw-normal span {
    font-weight: 700;
}

.checkout-form .place-order .order-total .order-table li.total-price span {
    color: #e7ab3c;
}

.checkout-form .place-order .order-total .order-table li span {
    float: right;
}

.checkout-form .place-order .order-total .order-btn {
    text-align: center;
}

.checkout-form .place-order .order-total .order-btn .place-btn {
    padding: 13px 40px 11px;
    background: #000000;
    border-color: #000000;
}

.checkout-section .payment {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: #fff;
    border-radius: 1rem;
}

.checkout-section .payment .form-check-label {
    /* margin-top: 1rem; */
    line-height: 0;
}

.checkout-section .payment .form-check span {
    color: #555555;
    float: right;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.checkout-section .payment .form-check-input {
    margin-top: 0.35em;
}

.checkout-section .order-total.payment-order-sum {
    box-shadow: none;
}

.checkout-form .review-info {
    /* margin-bottom: 64px; */
    /* margin-bottom: 35px; */
}

.checkout-form .review-info li {
    list-style: none;
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    /* text-transform: uppercase; */
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    padding-top: 15px;
}

.checkout-form .review-info li:first-child {
    padding-top: 0;
}

.checkout-form .review-info li:last-child {
    border: none;
}

.checkout-form .review-info span {
    font-weight: 900;
    margin-right: 3rem;
}

.paypal-btn {
    width: 100%;
    background-color: #ffc439;
    border: none;
    padding: 0.5rem;
    color: white;
    max-width: 600px;
    text-transform: none;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
}

.paypal-btn:before {
    background: #ffc439;
}

/*---------------------
 Account - Orders View
-----------------------*/

.order-details-wrap {
    /* margin-top: 50px; */
    font-weight: 400;
}

.order-details-wrap .back-btn {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 1.5rem;
}

.order-details-wrap .section-title {
    margin-bottom: 34px;
    padding-bottom: 13px;
    border-bottom: 1px solid #ebebeb;
}
.order-details-top {
    margin-bottom: 44px;
}
.order-information {
    display: inline-block;
}
.order-information h4 {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    text-transform: uppercase;
}
.order-information .order-information-list li {
    display: flex;
    margin-bottom: 9px;
}
.order-information .order-information-list li:last-child {
    margin-bottom: 0;
}
.order-information .order-information-list label {
    font-size: 15px;
    font-weight: 700;
    min-width: 165px;
    margin-bottom: 0;
    padding-right: 10px;
}
.order-information .order-information-list span {
    color: #6e6e6e;
    word-break: break-all;
}
.order-billing-details h4,
.order-shipping-details h4 {
    margin-bottom: 18px;
}
.order-billing-details address > span,
.order-shipping-details address > span {
    display: block;
    margin-bottom: 9px;
    color: #cacac8;
}
.order-billing-details address > span:last-child,
.order-shipping-details address > span:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 991px) {
    .order-details-top {
        margin-bottom: 39px;
    }
    .order-information {
        margin-bottom: 38px;
    }
}
@media screen and (max-width: 576px) {
    .order-billing-details {
        margin-bottom: 33px;
    }
}

.order-details-middle {
    margin-bottom: 25px;
}
.order-details-middle .table-responsive {
    border: 1px solid #cacac8;
    border-radius: 5px;
}
.order-details-table tbody td:nth-child(2),
.order-details-table tbody td:nth-child(4) {
    /* min-width: 170px; */
}
.order-details-table .product-name {
    display: inline-block;
    color: #181816;
}
.order-details-table .product-name:hover {
    color: #2e32cd;
    /* color: var(--color-primary); */
}
.order-details-table .product-options {
    margin: 4px 0 1px;
}
.order-details-table .product-price {
    color: #181816;
}
@media screen and (min-width: 881px) {
    .order-details-table td > label {
        display: none;
    }
}
@media screen and (max-width: 880px) {
    .order-details-middle .table-responsive {
        padding-bottom: 4px;
    }
    .order-details-table thead {
        display: none;
    }
    .order-details-table tr:first-child td:nth-child(2),
    .order-details-table tr:first-child td:nth-child(3),
    .order-details-table tr:first-child td:nth-child(4) {
        padding-top: 2px;
    }
    .order-details-table tbody td {
        vertical-align: top;
        display: block;
    }
    .order-details-table tbody td:nth-child(1) {
        padding: 25px 30px 11px !important;
    }
    .order-details-table tbody td:nth-child(2),
    .order-details-table tbody td:nth-child(3) {
        padding: 2px 30px;
        white-space: nowrap;
    }
    .order-details-table tbody td:nth-child(4) {
        padding: 2px 30px 3px;
        white-space: nowrap;
    }
    .order-details-table td > label {
        width: 90px;
        min-width: 90px;
        margin-bottom: 0;
        padding-right: 5px;
        color: #6e6e6e;
        white-space: pre-wrap;
    }
    .order-details-table .product-price {
        display: inline-flex;
    }
}
@media screen and (max-width: 576px) {
    .order-details-table tbody td:nth-child(1) {
        padding: 25px 20px 11px !important;
    }
    .order-details-table tbody td:nth-child(2),
    .order-details-table tbody td:nth-child(3) {
        padding: 2px 20px;
    }
    .order-details-table tbody td:nth-child(4) {
        padding: 2px 20px 3px;
    }
}

.order-details-bottom {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.order-details-bottom .order-summary-list {
    width: 300px;
}
.order-details-bottom .order-summary-list .price-amount {
    font-weight: 500;
}

.order-summary-list li {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 9px;
}

.order-summary-total {
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    display: flex;
    margin-top: 21px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 14px 0;
    border-top: 1px solid #ebebeb;
}

.order-details-bottom .order-summary-total {
    width: 300px;
    margin-top: 24px;
    padding-bottom: 0;
}
@media screen and (max-width: 340px) {
    .order-details-bottom .order-summary-list,
    .order-details-bottom .order-summary-total {
        width: 100%;
    }
}

/* ORDER TABLE FIX */
.order-details-table.table tbody tr:first-child > * {
    padding-top: 0;
}

.order-details-table.table > :not(caption) > * > * {
    padding: 10px;
}
.order-details-table.table tbody tr > * {
    border-bottom: 1px solid #ededed;
}
.order-details-table.table tbody tr:last-child > * {
    border-bottom: none;
}

/* Contact Us Fields */

.comment-form input[type="text"],
input[type="email"] {
    height: 50px;
}


/* About Us CSS Commit */

.row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .carousel-item img {
    object-fit: contain;
    width: 100%;
    height: 550px;
  }
